<% message = SiteSetting.send '«Restricted_Files»_Mesage_To_Unauthorized' %>
<% if not message.empty? %>
	<%= raw PrettyText.cook(message) %>
<% else %>
	A message to unauthorized users.
	<br/>You can use <b>HTML tags</b> here, including a link to a payment page.
	<br/>To receive payments you can use <a href='https://discourse.pro/t/29'>PayPal Buy Now</a> plugin.
<% end %>
